@import "./variables.css";


.header {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .header-navbar .header-menu {

    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.header-navbar .header-menu li a {

    padding: 5px 20px;
    display: inline-block;
    font-size: 1.15rem;
    line-height: 2;
    letter-spacing: 1.2px;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: var(--text-color-titulo_principal_intro-logo-links-menu);
    position: relative;
    transition: all 0.8s ease-in-out;

}

.header-navbar .header-menu li a::before {

    position: absolute;
    content: "";
    width: 0%; 
    height: 4px;
    bottom: 10px;
    left: 23px;
    border-radius: 4px;
    background: var(--bg-color-decoracoes-retangulo2);
    transition: all 0.8s ease-in-out;

}

.header-navbar .header-menu li a:hover::before {

    width: 70%;

}

.header-navbar .header-menu li a:hover {

    color: var(--bg-color-decoracoes-retangulo2);

}

/* ? brackpoints responsivo header */

@media screen and (max-width: 800px) {

    .header {

        flex-direction: column;
        gap: 20px;
        justify-content: center;

    }

    .header .header-navbar .header-menu {

        align-items: center;
        justify-content: center;

    }

    .header-navbar .header-menu li a {

        background: var(--bg-color-decoracoes-retangulo-experiencia-formacoes-icones);
        border-radius: 4px;
        color: var(--text-color-white);
        box-shadow: var(--bx-shadow-color-tags_cards_experiencias);

    }

    .header-navbar .header-menu li a:hover {

        color: var(--text-color-white);

    }

    .header-navbar .header-menu li a:hover::before {

        width: 0%;

    }

}